<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-horizontal-stepper>
    <mat-step *ngFor="let step of steps; let index = index; let last = last;">
      <ng-template matStepLabel>{{ step.label }}</ng-template>
      <formly-form [form]="form.at(index)" [model]="model" [fields]="step.fields" [options]="options[index]">
      </formly-form>

      <div>
        <button class="stepper-button" mat-raised-button color="primary" *ngIf="index !== 0" matStepperPrevious type="button"
          (click)="prevStep(index)">Back</button>
        <button class="stepper-button" mat-raised-button color="primary" *ngIf="!last" matStepperNext type="button"
          [disabled]="!form.at(index).valid" (click)="nextStep(index)">Next</button>
        <button class="stepper-button" mat-raised-button color="primary" *ngIf="last" [disabled]="!form.valid" type="submit">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>

{{model | json}}