input {
  display: none;
}

.dropzone {
  border: 1px dashed black;
  border-radius: 4px;
  text-align: center;
  padding: 50px;
}

.is-dragover {
  background-color: grey;
}

.dropzone-text {
  margin: 1em;
}

.fileinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filename {
  font-weight: bold;
}

.filesize {
  margin-bottom: 0.5em;
}
