input {
  display: none;
}

.dropzone {
  border: 2px dashed grey;
  border-radius: 4px;
  text-align: center;
  padding: 50px;
}

.is-dragover {
  background-color: lightgrey;
}

.dropzone-text {
  margin: 1em;
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
}
